body {
    font-family: 'Raleway', sans-serif;
}

.custom-btn:hover {
    background-color: #eeeef9;
}

/* Add right border to the sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
    color: black;
    border-right: 1px solid #ddd;
    /* Right border added */
}

.sidebar h5 {
    color: black;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.menu-item {
    margin-bottom: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.menu-item:hover {
    background-color: #eeeef9;
}

.menu-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.menu-item a:hover {
    background-color: #eeeef9;
}

.menu-item .icon {
    margin-right: 10px;
}

.active-link {
    background-color: #eeeef9;
    color: black;
    font-weight: bold;
}

.hover-item:hover {
    background-color: #f8f9fa;
    /* Light gray background on hover */
    cursor: pointer;
}

.file-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.file-item:hover .file-icon {
    background-color: #6863f2;
}

.file-item:hover .file-icon i {
    color: #ffffff;
}