# Ignore node_modules
server/node_modules
client/node_modules

# Ignore build output
client/build

# Logs
*.log

# env
server/.env
server/utils/abnormal-security-673f6-firebase-adminsdk-9724p-09559ff359.json