# Port
PORT=3000

# Mongo DB String
MONGO_URI=mongodb+srv://root:root@cluster0.xgk4aia.mongodb.net/abnormal_security_db?retryWrites=true&w=majority

# JWT Secret
JWT_SECRET=this_is_jwt_secret_for_abnormal_security_task

# Bcrypt
BCRYPT_SALT_ROUNDS=10

# Mailtraip Creds
MAILTRAP_USERNAME="539592ba4f5c00"
MAILTRAP_PASSWORD="7cec3f6f1924eb"

# Firebase Url
FIREBASE_URL="https://storage.googleapis.com"